@using ARKanyFryzjerstwa.Resources


<div class="click-disabled"></div>
<div class="popup-container">

    <div id="serviceResourcesPopupBox" class="popup-box">
        <span class="fa-stack fa-3x popup-icon">
            <i class="fas fa-circle fa-stack-2x text-info"></i>
            <i class="fas fa-solid fa-spray-can-sparkles fa-stack-1x fa-inverse"></i>
        </span>

        <input type="hidden" id="serviceResourcesPopupServiceId"/>
        <p id="serviceResourcesPopupServiceName" class="question text-secondary"></p>
        <div class="justify-content-center" id="serviceResourcesContent">
            <small class="hint"> @ARKanyResources.ServiceResourcesAssigmentSelectInfo </small>
            <select id="serviceResourcesSelect" class="mt-3"></select>
        </div>


        <div id="resourcesUsegeEditor">
            <hr />
            <div id="resourcesUsegeTableContentDiv">
                <table id="resourcesUsegeTable" class="table table-hidden-1 text-center align-middle">
                    <thead>
                    <th></th>
                    <th>Zasób</th>
                    <th>Zużycie</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody id="resourcesUsageBody">
                    </tbody>
                </table>
            </div>
            <hr />
        </div>
        <div id="serviceResourcesLoadingDiv">
            <div class="lds-dual-ring"></div>
        </div>

        <ul class="popup-btns">
            <li id="serviceResourcesPopupCancelBtn" class="btn cancel-btn btn-secondary">@ARKanyResources.Cancel</li>
            <li id="serviceResourcesPopupSaveBtn" class="btn save-btn btn-success">@ARKanyResources.Save</li>
        </ul>
    </div>

</div>