<div class="click-disabled"></div>
<div class="popup-container">

    <div class="popup-box">
        <span class="fa-stack fa-3x popup-icon">
            <i class="fas fa-circle fa-stack-2x text-danger"></i>
            <i class="fa-solid fa-calendar-xmark fa-stack-1x fa-inverse"></i>
        </span>

        <p id="confirmationText" class="question text-secondary">Odwołać wizytę?</p>
        <ul class="confirm-data">
            <input id="confirmAppointmentId" type="hidden" />
            <li><label>Data: </label><div id="confirmAppointmentDate" class="confirm-value"></div></li>
            <li><label>Czas: </label><div id="confirmAppointmentTime" class="confirm-value"></div></li>
            <li><label>Klient: </label><div id="confirmAppointmentClient" class="confirm-value"></div></li>
            <li><label>Pracownik: </label><div id="confirmAppointmentEmployee" class="confirm-value"></div></li>
            <li><label>Usługa: </label><div id="confirmAppointmentService" class="confirm-value"></div></li>
        </ul>
        <hr/>

        <ul class="popup-btns">
            <li class="btn no-btn btn-secondary">Nie</li>
            <li class="btn yes-btn btn-danger">Tak</li>
        </ul>
    </div>

</div>